.navegacion{
    background-color: red;
    height: 80px;
    text-align: center;
    margin-top: 0;


}

.navegacion:hover{
   
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    
  
}

li{
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 23px;
}

.ul-navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

}

.header{
    background-color: red;
}

p{
    text-align: center;
}