.formulario{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 330px;
    background-color: black;
}

label{
    margin-bottom: 15px;
    padding: 10px;
    color: red;
    background-color: black;
}

input{
    padding: 10px;
    margin-bottom: 15px;
    color: black;
}

h2,.p{
    text-align: center;
}


button:hover{
    background-color: red;
    color: black;
  

    padding: 10px;
}

a{
    text-decoration: none;
}

